<!-- This is a comment in HTML -->
<!-- Your code goes here -->

<h1>Alice's Personal Page</h1>

<h2>Bio</h2>
<p>
    This is Alice. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. 
    Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. 
</p>
<button>Resume</button>

<h2>Skills</h2>
<p>
    Python, Java.
    Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. 
    Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. 
</p>

<h2>Experience</h2>
<p>
    CS TA at Berea College.
    Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. 
</p>

<h2>Contact</h2>
<p>
    <a href="https://github.com/ovezovs/">GitHub Profile</a>
</p>